In [1]:
import pandas as pd

In [2]:
electronics = "./Data/electronics.csv"
movies = "./Data/movies.csv"

In [3]:
el = pd.read_csv(electronics)
movies = pd.read_csv(movies)

In [6]:
movies.describe()

          session_id        item_id     timestamp         rating
count  625813.000000  625813.000000  6.258130e+05  625813.000000
mean    24008.591440   10551.516405  1.248308e+09       0.746054
std     13761.445626    6037.265784  1.306378e+08       0.435268
min         1.000000       1.000000  8.837856e+08       0.000000
25%     12032.000000    5339.000000  1.143245e+09       0.000000
50%     24077.000000   10496.000000  1.277338e+09       1.000000
75%     35856.000000   15826.000000  1.367280e+09       1.000000
max     47966.000000   21035.000000  1.406074e+09       1.000000