In [1]:
import pandas as pd

In [2]:
data_path = './raw_datasets/electronics.inter'

df = pd.read_csv(data_path, sep='\t')

In [3]:
df = df.rename(columns={"user_id:token": "session_id", "item_id:token": "item_id", "rating:float": "rating", "timestamp:float": "timestamp"})

In [ ]:
df.sort_values(by=['session_id','timestamp'], ignore_index=True)

In [ ]:
df.groupby("session_id").count().describe()

In [4]:
df['tmp'] = 1.0

In [5]:
df.loc[df.rating < 4.0, 'tmp'] = 0.0

In [6]:
df = df.drop(columns='rating').rename(columns={'tmp': 'rating'})

In [7]:
len(df[df.rating == 1]), len(df)

(5833322, 7824482)

In [8]:
df.session_id.nunique(), df.item_id.nunique(), len(df)

(4201696, 476002, 7824482)

In [9]:
df.describe()

          timestamp        rating
count  7.824482e+06  7.824482e+06
mean   1.338178e+09  7.455218e-01
std    6.900426e+07  4.355675e-01
min    9.127296e+08  0.000000e+00
25%    1.315354e+09  0.000000e+00
50%    1.361059e+09  1.000000e+00
75%    1.386115e+09  1.000000e+00
max    1.406074e+09  1.000000e+00

In [ ]:
df.to_csv("./Data/games.csv", index=False)

In [50]:
# sample
import numpy as np

np.random.seed(2022)

tot_item = df.item_id.nunique()

n_sampled_item = 100000

rand_id = df.item_id.unique()[np.random.choice(range(tot_item), n_sampled_item, replace=False)]

sampled_data = df[df.item_id.isin(rand_id)].reset_index(drop=True)

In [ ]:
sampled_data.groupby("session_id").count().describe()

In [ ]:
sampled_data.to_csv("Data/electronics_sampled.csv", index=False)

In [ ]:
df.to_csv("Data/electronics.csv", index=False)

In [11]:
import logging
from pathlib import Path
import pickle
from os import path

import pandas as pd
from sklearn.utils import shuffle

from configuration.config import *

from dataloaders.utils import *

In [ ]:
df

In [51]:
sampled_data

             session_id     item_id   timestamp  rating
0        A2NWSAGRHCP8N5  0439886341  1367193600     0.0
1        A2WNBOD3WNDNKT  0439886341  1374451200     0.0
2        A1GI0U4ZRJA8WN  0439886341  1334707200     0.0
3        A1QGNMC6O1VW39  0511189877  1397433600     1.0
4        A3J3BRHTDRFJ2G  0511189877  1397433600     0.0
...                 ...         ...         ...     ...
1645867  A1QUWXCBPGCQMW  B00LMOH8DU  1405728000     1.0
1645868  A37B1XSZUYNSNK  B00LMOH8DU  1405036800     1.0
1645869   AELQMX8YAEEYI  B00LOLBBQQ  1405382400     1.0
1645870   AG1NNE1V43RWC  B00LOLBBQQ  1405468800     0.0
1645871  A1PB6OT0OOPKNQ  B00LXEC8CU  1405641600     1.0

[1645872 rows x 4 columns]

In [52]:
hot = drop_cold(sampled_data, 5, 5)

In [53]:
hot.session_id.nunique(), hot.item_id.nunique(), len(hot)

(5817, 2820, 43958)

In [ ]:
hot.to_csv("Data/electronics.csv", index=False)