In [2]:
import pandas as pd

In [3]:
data_path = './raw_datasets/Yelp.inter'

df = pd.read_csv(data_path, sep='\t')

In [4]:
df = df.rename(columns={"user_id:token": "session_id", "item_id:token": "item_id", "rating:float": "rating", "timestamp:float": "timestamp"})

In [5]:
df.sort_values(by=['session_id','timestamp'], ignore_index=True)

        session_id  item_id  rating  timestamp
0                1        1       5          0
1                1        2       5          1
2                1        3       5          2
3                1        4       5          3
4                1        3       5          4
...            ...      ...     ...        ...
316349       30431    14918       5     316349
316350       30431    14918       5     316350
316351       30431    14918       5     316351
316352       30431    14918       5     316352
316353       30431    14918       5     316353

[316354 rows x 4 columns]

In [6]:
df.groupby("session_id").count().describe()

            item_id        rating     timestamp
count  30431.000000  30431.000000  30431.000000
mean      10.395781     10.395781     10.395781
std       10.389650     10.389650     10.389650
min        5.000000      5.000000      5.000000
25%        5.000000      5.000000      5.000000
50%        7.000000      7.000000      7.000000
75%       11.000000     11.000000     11.000000
max      350.000000    350.000000    350.000000

In [37]:
df['tmp'] = 1.0

In [38]:
df.loc[df.rating < 4.0, 'tmp'] = 0.0

In [39]:
df = df.drop(columns='rating').rename(columns={'tmp': 'rating'})

In [40]:
df[df.rating == 1]

        session_id  item_id  timestamp  rating
0                1        1          0     1.0
1                1        2          1     1.0
2                1        3          2     1.0
3                1        4          3     1.0
4                1        5          4     1.0
...            ...      ...        ...     ...
167592       19412    10953     167592     1.0
167593       19412     9297     167593     1.0
167594       19412     4901     167594     1.0
167595       19412    11782     167595     1.0
167596       19412    11523     167596     1.0

[167597 rows x 4 columns]

In [41]:
df.to_csv("./Data/toys.csv", index=False)