In [1]:
import pandas as pd

In [2]:
data_path = './raw_datasets/ml-1m.inter'

df = pd.read_csv(data_path, sep='\t')

In [3]:
df = df.rename(columns={"user_id:token": "session_id", "item_id:token": "item_id", "rating:float": "rating", "timestamp:float": "timestamp"})

In [4]:
df.sort_values(by=['session_id','timestamp'], ignore_index=True)

         session_id  item_id  rating  timestamp
0                 1     3186       4  978300019
1                 1     1270       5  978300055
2                 1     1721       4  978300055
3                 1     1022       5  978300055
4                 1     2340       3  978300103
...             ...      ...     ...        ...
1000204        6040     2917       4  997454429
1000205        6040     1921       4  997454464
1000206        6040     1784       3  997454464
1000207        6040      161       3  997454486
1000208        6040     1221       4  998315055

[1000209 rows x 4 columns]

In [5]:
df['tmp'] = 1.0

In [6]:
df.loc[df.rating < 4.0, 'tmp'] = 0.0

In [7]:
df = df.drop(columns='rating').rename(columns={'tmp': 'rating'})

In [8]:
df.to_csv("./Data/ml-1m.csv", index=False)