In [18]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_clipboard()

In [28]:
df

   session_id                  timestamp                               item_id
0          88  2009-01-05 13:01:15+00:00  64e65892-1ab9-4c7c-a9df-18bee9a1015f
1          88  2009-01-05 13:29:00+00:00  7496d879-539b-499c-b67a-4208795010bf
2          88  2009-01-05 13:55:50+00:00  c5a65922-fb8e-4814-97e9-762ac24cf3b3
3          88  2009-01-05 14:01:03+00:00  97d2ae22-d794-49f5-be1a-c97280822d72
4          88  2009-01-05 14:16:27+00:00  589b646f-22ca-43d4-988b-88e36f8f6356

In [31]:
df['timestamp'] = df['timestamp'].apply(lambda x: pd.to_datetime(x).timestamp()).astype(int)

In [37]:
df['item_id'].dtype == int

False